<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="UserCredentials" type="System.Configuration.NameValueSectionHandler"/>
	</configSections>

	<UserCredentials>
		<add key="Username" value="testuser" />
		<add key="Password" value="password123" />
	</UserCredentials>

	<appSettings>
		<add key="Zotero" value="E:\work\Zotero\zotero.exe" />
		<add key="WindowsNotepad" value="C:\Program Files\Notepad++\notepad++.exe" />
		<add key="Timeout" value="30" />
	</appSettings>
</configuration>